<!-- New user -->

<div class="container">
  <div class="row">
    <div class="col-md-4">
    </div>

    <div class="col-md-4">
      <!--alert flash-->
      <div class="col-md-3 text-center  ">
        <% flash.each do |key, value| %>
          <div class="<%= flash_class(key) %>">
            <button type="button" class="close" data-dismiss="alert">
            <span aria=hidden="true">&times;</span>
            <span class="sr-only">Close</span> </button>
            <%= value %>    
          </div>
        <% end %>
      </div>
      <h3>Hi. Please Login.</h3>

      <div class="form">

      <%= form_for @user, {url: session_path} do |f| %>


        <div class="form-group">
        <!--%=# f.text_field :email, placeholder: 'Email' %-->
        <!--%=# f.label :email%-->
        <%= f.text_field :email, class: 'form-control', placeholder:'Enter Email Address'    %>
        </div>    

        <div class="form-group">
        <!--%= f.password_field :password, placeholder: 'Password' %-->
        <%= f.password_field :password, class: 'form-control', placeholder:'Enter Password'%>
        </div>

        <div class="form-group">
        <%= f.submit "Let's go!", class: 'btn btn-success'%>
        </div>
      <% end %>
      </div> <!--this closes the form-->
    </div>    
    <div class="col-md-4">
    </div>
  </div> <!--end of row-->
  <div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
      <small class="text-muted">If you'd like to use this awesome app, sign up <button type="button" class="btn btn-defualt btn-xs"><%= link_to 'Here', new_user_path %></button></small>
    </div>
    <div class="col-md-4">
    </div>
  </div>
</div> <!--end of container-->