<!-- This is your edit page -->


<div class="container">
  <div class="row">
    <div class="col-sm-3">
      <button class="btn btn-default" style="width:67px;"> 
        <%= link_to 'Back', items_path %>
      </button>
    </div>
    <div class="col-sm-7">
      <h1>You got items. Let's update them!</h1>
    </div>
    <div class="col-sm-2">
    </div>
  </div>

  <!-- Edit Modal -->
  <div class="row">
    <div class="col-sm-12">
      <button class="btn btn-defualt" data-toggle="modal" data-target="#myModal" aria-labelledby="myModalLabel">
        Let's do this!
      </button>
      <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
              <h4 class="modal-title" id="myModalLabel">edit yo stuff here</h4>
              </div>
            <div class="modal-body">
              <div class="form">
                <%= form_for @item do |i| %>
                <div class="form-group">
                  <label>Title</label>
                  <%= i.text_field :title, class: 'form-control', placeholder: "Title" %>
                </div>
                <div class="form-group">
                  <label>Medium</label>
                  <%= i.text_field :medium, class: 'form-control' %>
                </div>
                <div class="form-group">
                  <label>Theme</label>
                  <%= i.text_field :theme, class: 'form-control' %>
                </div>
                <div class="form-group">
                  <label>Size</label>
                  <%= i.text_field :size, class: 'form-control' %>
                </div>
                <div class="form-group">
                  <label>Status</label>
                  <%= i.text_field :status, class: 'form-control' %>
                </div>
                <div class="form-group">
                  <label>Location</label>
                  <%= i.text_field :location, class: 'form-control' %>
                </div>
                <div class="form-group">
                  <label>Size</label>
                  <%= i.text_field :size, class: 'form-control' %>
                </div>
                <div class="form-group">
                  <label>Date Finished</label>
                  <%= i.text_field :dt_finished, class: 'form-control' %>
                </div>

                <%end%>
              </div> <!-- end of form -->
            </div>
          <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
          </div>
          </div>
        </div>
      </div> <!-- end of modal -->
    </div>
  </div>
  <br>
  <div class="row">
    <%= form_for @item do |i| %>
    <div class="col-sm-4 col-sm-offset-2">
      <div class="form">
        <div class="form-group">
          <label>Title</label>
          <%= i.text_field :title, class: 'form-control', placeholder: "Title" %>
        </div>
        <div class="form-group">
          <label>Medium</label>
          <%= i.text_field :medium, class: 'form-control', placeholder: "Medium" %>
        </div>
        <div class="form-group">
          <label>Theme</label>
          <%= i.text_field :theme, class: 'form-control', placeholder: "Theme" %>
        </div>
        <div class="form-group">
          <label>Size</label>
          <%= i.text_field :size, class: 'form-control', placeholder: "Size" %>
        </div>
      </div> <!-- end of form -->
    </div>
    <div class="form">
      <div class="col-sm-4">
        <div class="form-group">
          <label>Status</label>
          <%= i.text_field :status, class: 'form-control', placeholder: "Status" %>
        </div>
        <div class="form-group">
          <label>Location</label>
          <%= i.text_field :location, class: 'form-control', placeholder: "Location" %>
        </div>
        <div class="form-group">
          <label>Date Finished</label>
          <%= i.text_field :dt_finished, class: 'form-control', placeholder: "Date Finished" %>
        </div>
        <div class="form-group">
          <div id="edit-a-link" class="btn-group pull-right">
          <%= i.submit "Save changes", class: "btn btn-large btn-primary" %>
            
            <button class="btn btn-primary" type="submit"><%= link_to 'Back', items_path, {:style=> 'color:white;'} %></button>
            </div>
        </div>
       </div> 
      </div> <!-- end of form -->
    </div> <!-- end of row-->
    
    <% end %>
  </div> <!-- end of container -->


